.error-container {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    background: var(--crema);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.error-icon {
    font-size: 6rem;
    margin-bottom: 20px;
    color: var(--crema);
}
.error-title {
    color: var(--rojoOscuro);
    font-size: 1.8rem;
    margin-bottom: 15px;
}
.error-message {
    color: var(--grisOscuro);
    font-size: 1.1rem;
    margin-bottom: 30px;
    line-height: 1.5;
}
.error-actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.btn {
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
    font-size: 18px;
}
.btn-primary {
    background: var(--verdeOscuro);
    color: var(--crema);
}
.btn-primary:hover {
    background: var(--verdeOscuro--hover);
}
.btn-secondary {
    background: var(--grisOscuro);
    color: var(--crema);
}
.btn-secondary:hover {
    background: var(--grisClaro);
}
.btn-danger {
    background: var(--rojoOscuro);
    color: var(--crema);
}
.btn-danger:hover {
    background: var(--rojoClaro);
}

@media (width < 650px) {
    .btn {
        display: block;
        width: 100%;
        max-width: 300px;
    }

    .error-actions {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}