html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    background-color: rgba(34, 73, 56, 0.2);
}
*, *:before, *:after {
    box-sizing: inherit;
}
:root {
    --grisOscuro: #1a1919;
    --grisClaro: #c9c9c9;
    --verdeOscuro: #224938;
    --verdeOscuro--hover: #1e3f31d0;
    --crema: #f1ece1;
    --blanco: #e8f2ff;
    --rojoOscuro: #721c24;
    --rojoClaro: #ecd9db;

    --tamaño-letra-título-grande: 40px;
    --tamaño-letra-título-medio: 30px;
    --tamaño-letra-título-chico: 14px;
    --tamaño-letra-span: ;
    --tamaño-letra-nav: 26px;
}

body {
    font-family: Arial, sans-serif;
}
.uppercase {
    text-transform: uppercase;
}
a, button {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    text-align: center;
    color: var(--verdeOscuro);
    font-size: var(--tamaño-letra-título-grande);
}

.navigation { 
    text-align: center;
    margin-bottom: 30px; 
}

.navigation a { 
    color: var(--verdeOscuro);
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 7px;
}

.navigation a:hover {
    background-color: var(--verdeOscuro);
    color: var(--crema);
}

#logout {
    color: var(--rojoOscuro);
}

#logout:hover {
    background-color: var(--rojoOscuro);
    color: var(--crema);
}